<script setup></script>
<template>
  <div class="border items-center border-slate-200 p-4 rounded-xl flex gap-4">
    <img class="w-16 h-16" src="/sneakers/sneakers-1.jpg" alt="pic" />
    <div class="flex flex-col flex-1">
      <p>кроссовки нике</p>
      <div class="flex justify-between">
        <b>12990 руб.</b>
        <img
          class="opacity-40 hover:opacity-100 cursor-pointer transition"
          src="/close.svg"
          alt="close"
        />
      </div>
    </div>
  </div>
</template>
