<script setup>
import CartItem from './CartItem.vue'

const onClickAdd = (isAdded) => {
  alert('add')
  isAdded = !isAdded
  return isAdded
}
</script>
<template>
  <div class="flex flex-col gap-4 flex-1">
    <CartItem
      title="Кроссовки из гована"
      image-url="sneakers//sneakers-1.jpg"
      :price="1250"
      isAdded="true"
      isFavorite=" true"
      :onClickAdd="onClickAdd"
    />
    <CartItem
      title="Кроссовки из гована"
      image-url="sneakers//sneakers-1.jpg"
      :price="1250"
      isAdded="true"
      isFavorite=" true"
      :onClickAdd="onClickAdd"
    />
    <CartItem
      title="Кроссовки из гована"
      image-url="sneakers//sneakers-1.jpg"
      :price="1250"
      isAdded="true"
      isFavorite=" true"
      :onClickAdd="onClickAdd"
    />
  </div>
</template>
